@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 fw-bold">Welcome to School of Reidar</h1>

    <div class="School">
        <img src="~/images/School.jpeg" alt="School_Picture"/>
    </div>

